.ButtonFocus {
  width: 15%;
  height: 7%;
  border: 3px solid mediumseagreen;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 200%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
